/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes triangle {
  from {
    translate: 0;
  }
  to {
    translate: 4px;
  }
}

@keyframes heart {
  from {
    scale: 1;
  }

  to {
    scale: 1.5;
  }
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in;
}

.like-icon:hover .main-body {
  transition: fill 0.3s;
  transition-delay: 0.05s;
  fill: var(--accent-color);
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s;
}

.like-icon:active .main-body,
.like-icon.is-liked .main-body {
  transition: fill 0.3s;
  transition-delay: 0.05s;
  fill: red;
}

.like-icon:active .core,
.like-icon.is-liked .core {
  transition: fill 0.3s;
  fill: red;
}

.like-icon.is-liked .contour {
  transition: fill 0.3s;
  transition-delay: 0.06s;
  fill: red;
}

.contour {
  transition: fill 0.1s;
}

.like-icon.is-liked .heart {
  animation: heart 0.3s 0.1s ease-in alternate;
  transform-origin: center;
}

@keyframes sparks {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
